@using System.Reflection

@{
    var version = typeof(Duende.IdentityServer.Hosting.IdentityServerMiddleware).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo" alt="Logo">
        Welcome to Eiromplays IdentityServer
        <small class="text-muted">(version @version)</small>
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
    </ul>
</div>
