.welcome-page {
    .logo{
        width:64px;
    }
}
.icon-banner {
    width: 32px;
}

.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
}

.welcome-page {
    li {
        list-style: none;
        padding: 4px;
    }
}


