
@model Eiromplays.IdentityServer.Quickstart.Account.ResendEmailConfirmationViewModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

<h2>@ViewData["Title"].</h2>

@await Html.PartialAsync("_ValidationSummary")

<form asp-controller="Account" asp-action="ResendEmailConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
      class="form-horizontal">
    <h4>Resend email confirmation</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Identifier" class="col-md-2 control-label">email/username/userId</label>
        <div class="col-md-10">
            <input asp-for="Identifier" class="form-control" />
            <span asp-validation-for="Identifier" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Resent email confirmation</button>
        </div>
    </div>
</form>