@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Not found, original code: https://codepen.io/Navedkhan012/pen/vrWQMY

.four_zero_four_bg {
  background-image: url('./assets/NotFound.gif');
  height: 500px;
  background-position: center;
}
 
.four_zero_four_bg h1 {
 font-size: 80px;
}

// -- Not found, original code: https://codepen.io/Navedkhan012/pen/vrWQMY end --